# list of all tests
TESTLIST=wordcount,terasort,dsfio,als,bayes,gbt,lda,linear,lr,pca,rf,svd,svm,graph,sql,phoenix

# DATA SIZE
LISTSIZE=tiny,small,large,huge,gigantic,bigdata
BENCHSIZE=tiny


TMPBASEDIR=/tmp/bench
INPUTDIR=inputdir
TMPINPUTDIR=$TMPBASEDIR/$INPUTDIR
TMPOUTPUTDIR=$TMPBASEDIR/outputdir
TMPOUTPUT1DIR=$TMPBASEDIR/output1dir

JUNITJAR=/usr/hdp/current/hbase-client/lib/junit-4.12.jar
HADOOPMAPREDUCETEST=/usr/hdp/current/hadoop-mapreduce-client/hadoop-mapreduce-client-jobclient-tests.jar
HADOOPEXAMPLES=/usr/hdp/current/hadoop-mapreduce-client/hadoop-mapreduce-examples.jar
PHOENIXDIR=/usr/hdp/current/phoenix-client
PHOENIXLINE=$PHOENIXDIR/bin/sqlline.py
TEMPDIR=/tmp
NOTRANSACTIONAL="TBLPROPERTIES('transactional'='false')"
ZOOKEEPER=
# ZOOKEEPER=mdp1.sb.com,mdp2.sb.com,mdp3.sb.com

BENCHMARKJAR=../BenchmarkProj/target/scala-2.11/BenchJar.jar

tiny_spark_executor_cores=2
tiny_spark_driver_cores=2
tiny_spark_driver_memory=2g
tiny_spark_executor_memory=2g
tiny_spark_num_executors=2

small_spark_executor_cores=4
small_spark_driver_cores=4
small_spark_driver_memory=4g
small_spark_executor_memory=4g
small_spark_num_executors=6

large_spark_executor_cores=4
large_spark_driver_cores=4
large_spark_driver_memory=4g
large_spark_executor_memory=4g
large_spark_num_executors=6

spark_executor_cores=6
spark_driver_cores=6
spark_driver_memory=6g
spark_executor_memory=8g
spark_num_executors=8

sparksql_executor_cores=4
sparksql_driver_cores=4
sparksql_driver_memory=4g
sparksql_num_executors=6

tiny_sparksql_executor_cores=2
tiny_sparksql_driver_cores=2
tiny_sparksql_driver_memory=2g
tiny_sparksql_num_executors=2

huge_sparksql_executor_cores=6
huge_sparksql_driver_cores=6
huge_sparksql_driver_memory=6g
huge_sparksql_executor_memory=8g
huge_sparksql_num_executors=8


map_parallelism=8
shuffle_parallelism=8





