# list of all tests
TESTLIST=wordcount,terasort,dsfio,als,bayes,gbt,lda,linear,lr,pca,rf,svd,svm,graph,sql,phoenix

LOGFILE=/tmp/mybench.log

# DATA SIZE
LISTSIZE=tiny,small,large,huge,gigantic,bigdata
BENCHSIZE=tiny


TMPBASEDIR=/tmp/bench
INPUTDIR=inputdir
TMPINPUTDIR=$TMPBASEDIR/$INPUTDIR
TMPOUTPUTDIR=$TMPBASEDIR/outputdir
TMPOUTPUT1DIR=$TMPBASEDIR/output1dir


# HDP
#JUNITJAR=/usr/hdp/current/hbase-client/lib/junit-4.12.jar
#HADOOPMAPREDUCETEST=/usr/hdp/current/hadoop-mapreduce-client/hadoop-mapreduce-client-jobclient-tests.jar
#HADOOPEXAMPLES=/usr/hdp/current/hadoop-mapreduce-client/hadoop-mapreduce-examples.jar
#PHOENIXDIR=/usr/hdp/current/phoenix-client
#ISPIG=X
#ISSPARKSQL=X

# CLOUDERA
JUNITJAR=/opt/cloudera/parcels/CDH-7.1.5-1.cdh7.1.5.p0.7431829/jars/junit-4.12.jar
HADOOPMAPREDUCETEST=/opt/cloudera/parcels/CDH-7.1.5-1.cdh7.1.5.p0.7431829/lib/hadoop-mapreduce/hadoop-mapreduce-client-jobclient-tests.jar
HADOOPEXAMPLES=/opt/cloudera/parcels/CDH-7.1.5-1.cdh7.1.5.p0.7431829/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar
PHOENIXDIR=/opt/cloudera/parcels/CDH-7.1.5-1.cdh7.1.5.p0.7431829/lib/phoenix/


PHOENIXLINE=$PHOENIXDIR/bin/sqlline.py
TEMPDIR=/tmp
NOTRANSACTIONAL="TBLPROPERTIES('transactional'='true')"
HIVEFORMAT=ORC
ZOOKEEPER=aliquant1.fyre.ibm.com,aliquant2.fyre.ibm.com,aliquant3.fyre.ibm.com:2181/hbase

BENCHMARKJAR=../BenchmarkProj/target/scala-2.11/BenchJar.jar

tiny_spark_executor_cores=2
tiny_spark_driver_cores=2
tiny_spark_driver_memory=2g
tiny_spark_executor_memory=2g
tiny_spark_num_executors=2

small_spark_executor_cores=4
small_spark_driver_cores=4
small_spark_driver_memory=4g
small_spark_executor_memory=4g
small_spark_num_executors=6

large_spark_executor_cores=4
large_spark_driver_cores=4
large_spark_driver_memory=4g
large_spark_executor_memory=4g
large_spark_num_executors=6

spark_executor_cores=6
spark_driver_cores=6
spark_driver_memory=6g
spark_executor_memory=8g
spark_num_executors=8

tiny_sparkisql_executor_cores=2
tiny_sparksql_driver_cores=2
tiny_sparksql_driver_memory=2g
tiny_sparksql_executor_memory=2g
tiny_sparksql_num_executors=2

small_sparksql_executor_cores=4
small_sparksql_driver_cores=4
small_sparksql_driver_memory=4g
small_sparksql_executor_memory=4g
small_sparksql_num_executors=6

large_sparksql_executor_cores=4
large_sparksql_driver_cores=4
large_sparksql_driver_memory=4g
large_sparksql_executor_memory=4g
large_sparksql_num_executors=6

sparksql_executor_cores=6
sparksql_driver_cores=6
sparksql_driver_memory=6g
sparksql_executor_memory=8g
sparksql_num_executors=8

map_parallelism=8
shuffle_parallelism=8





